# Convert Water indicator coeficients to digestable csv

In [1]:
import pandas as pd

In [2]:
# excel hosted in https://docs.google.com/spreadsheets/d/1CYBodEP020CFXKK6FzG--7vbhzEwFAS7kShCd9zyvRE/edit#gid=0
df = pd.read_excel(
    "../../data/raw/Excel_blwf_ of_crops_and_Derived_product_v1 [WIP].xlsx",
    # NOTE: HS code should be str but the already present codes in the db are treated as int
    # and don't have the correct 0s padding. This should be fixed in ingesting
    # all the others hs codes as str to preseve the correct code. Or it is ok to let it be an int?
    dtype={"hs_2017_code": int},
)

In [3]:
df_long = df.melt(id_vars=df.columns[:2], var_name="country")
df_long["year"] = 2005  # set 2005 as year for all the entries

In [4]:
# sanity check in case the data changes in the future
assert df_long.columns.to_list() == ["name", "hs_2017_code", "country", "value", "year"]

In [5]:
df_long.head()

,name,hs_2017_code,country,value,year
0,01 Animals; live,1,Global,NaN,2005
1,"01.01 Horses, asses, mules and hinnies; live",101,Global,2462.0,2005
2,01.02 Bovine animals; live,102,Global,256.0,2005
3,01.03 Swine; live,103,Global,276.0,2005
4,01.04 Sheep and goats; live,104,Global,191.0,2005

In [7]:
df_long.to_csv(
    "../../indicator_coefficient_importer/data/bwfp_indicator_coefficients.csv", index=False
)